@charset "UTF-8";

body {
    border: 5px navy;
    border-style: dotted double;
    margin: 0;
    padding: 2em;
}

p {
    border: 5px navy;
    border-style: dotted double;
    margin: 1em;
    padding: 2em;
    background: #F8D575;
}

.border-box {
    background-clip: border-box;
}

.padding-box {
    background-clip: padding-box;
}

.content-box {
    background-clip: content-box;
}

.border-radius {
    border-radius: 20px 20px;
}

span {
    width: 300px;
    height: 60px;
}

.border {
    height: 200px;
}

.border-color {
    border-color: red;
}

.border-image {
    /*border-image-source：url('./images/border-img.jpg');*/
    border-image-source: linear-gradient(to top, red, yellow);
}

.border-width {
    border-width: 20px;
}

.border-style.none {
    border-style: none
}

.border-style.dashed {
    border-style: dashed
}

.border-style.dotted {
    border-style: dotted
}

.border-style.double {
    border-style: double
}

.border-style.groove {
    border-style: groove
}

.border-style.inset {
    border-style: inset
}

.border-style.outset {
    border-style: outset
}

.border-style.ridge {
    border-style: ridge
}

.border-style.solid {
    border-style: solid
}
